<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size:30px;font-family:cursive;" href="/"><strong>C<span class="fas fa-virus"></span>VID GUIDER</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link " aria-current="page" style="font-size:20px;font-family:cursive" href="/">Home</a>
                <a class="nav-link" href="/countryWise"  style="font-size:20px;font-family:cursive">Countries</a>
                <a class="nav-link" href="/guidelines" style="font-size:20px;font-family:cursive">Guidelines</a>
                <a class="nav-link" href="/vaccination" style="font-size:20px;font-family:cursive">Vaccination Details</a>

            </div>


            </div>
        </div>
    </nav>