<!DOCTYPE html>
<html>

<head>
    <title>
        Vaccination
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    <style>
        .available {
            font-size: 20px;
            font-weight: bold;
            color: rgb(67, 214, 67)
        }

        .notAvailable {
            font-size: 17px;
            font-weight: bold;
            color: rgb(218, 52, 52);
        }

        .age18 {
            color: rgb(247, 41, 154);
            font-weight: bold;
            font-size: 20px;
        }

        .age45 {
            color: rgb(49, 49, 223);
            font-weight: bold;
            font-size: 20px;
        }

        .heading {
            font-size: 30px;
            font-weight: bold;
            color: rgb(158, 212, 48)
        }

        .covaxin {
            font-weight: bold;
            color: rgb(165, 126, 42)
        }

        .my-custom-scrollbar {
            position: relative;
            height: 300px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }
    </style>
</head>

<body onload="loadDistrict()">
    <%-include('./partials/navbar')%>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img style="height:500px"
                        src="https://www.bioworld.com/ext/resources/Stock-images/Therapeutic-topics/Infectious/COVID-19-vaccine.png?1590079334"
                        class="d-block w-100 mt-0" alt="...">

                </div>
                <div class="carousel-item">
                    <img style="height:500px"
                        src="https://cdn.cancercenter.com/-/media/ctca/images/others/blogs/2018/01-january/07-blog-vaccines-l.jpg"
                        class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br>
        <br>
        <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-end"><span style="font-weight: bold;">Search:
                                </span><input type="search" id="vaccineCountrySearch" onkeyup="vaccineCountrySearch()"
                                    placeholder="Search Your country"></div>
                            <br>
                            <div class="card">
                                <h3 class="card-title text-center">Country Wise Vaccine Details</h3>
                                <div class="card-body">
                                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                        <table class="table table-hover" id="allCountries">
                                            <thead>
                                                <th>
                                                    Country
                                                </th>
                                                <th>
                                                    Today
                                                </th>
                                                <th>
                                                    Total Vaccinated
                                                </th>
                                                <th>Percentage</th>
                                            </thead>
                                            <tbody id="tbody">

                                            </tbody>
                                    </div>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <h1 class="text-center" style="font-family: cursive;">Vaccination in World</h1>
                                <h2 class="text-center" style="color:rgb(16, 94, 238);font-weight: bold;" id="world">
                                </h2>
                                <h4 class="text-center" style="color:rgb(16, 94, 238);font-weight:bold" id="worldDaily">
                                </h4>
                            </div>
                            <br><br>
                            <div class="row">
                                <h1 class="text-center" style="font-family: cursive;">Vaccination in India</h1>
                                <h2 class="text-center" id="india" style="color:rgb(12, 226, 12);font-weight: bold;">
                                </h2>
                                <h4 class="text-center" id="indiaDaily"
                                    style="color:rgb(12, 226, 12);font-weight: bold;"></h4>
                            </div>
                        </div>
                    </div>
                </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <h3 class="card-title text-center">World</h3>
                    <div class="card-body">
                        <canvas id="WorldVaccineGraph" style="height:400px;width:600px"></canvas>
                     </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <h3 class="card-title text-center">India</h3>
                    <div class="card-body">
                        <canvas id="IndiaVaccineGraph" style="height:400px;width:600px"></canvas>
                     </div>
                </div>
            </div>
            </div>
        <br><br>
        <h1 class="text-center" style="font-family: cursive;">
            Get vaccinated Soon
        </h1>
        <br>
        <div class="d-flex justify-content-around">
            <button class="btn btn-primary" id="pinNumber" onclick='pinCode()'>Search by Pin</button>
            <button class="btn btn-primary" id="districtNumber" onclick='districtNumber()'>Search by District</button>
        </div>
        <br>
        <div id="state" hidden>
            <div class="d-flex justify-content-center">
                <select id="selectedState" onchange="selectDistrict()">
                    <option value="">Select State</option>
                    <%for(let i=0;i<=36;i++){%>
                        <option class="allStates" value=""></option>
                        <%}%>
                </select>
                <div>
                    <div id="selectedDistricts">

                    </div>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <input type="date" id="date2" placeholder="Date">
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" onclick="districtsCenters()" class="btn btn-success">Submit</button>
            </div>
        </div>

        <div id="pincode" hidden>
            <div class="d-flex justify-content-center">
                <input type="text" id="pin" placeholder="Enter the pin">
                <input type="date" id="date" placeholder="Date">
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" onclick="pinCenters()" class="btn btn-success">Submit</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container-fluid d-flex justify-content-center">
            <div id="searchResults" class="table-responsive">


            </div>
        </div>
        <div class="text-center" id="noResultFound" hidden>
            <h1>No Vaccination Centre Found</h1>
        </div>
    </div>
        <%-include('./partials/footer')%>
            <script src="Javascript/vaccination.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
                crossorigin="anonymous"></script>
</body>

</html>