<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Guideline</title>

    <!-- font cdn link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!--custom css file lnk-->
    <link rel="stylesheet" href="style.css">
</head>
<body>


<!--Header section starts-->    
<header>
    <a  href="#" class="logo"><strong>C<span class="fas fa-virus"></span>vid Guideline</strong></a>
    <div id="menu" class="fas fa-bars"></div>

    <!-- Navigation section starts-->
    <nav class="navbar">
        <a href="#Home" class="active">Home</a>
        <a href="#Symptoms">Symptoms</a>
        <a href="#prevention">prevention</a>
        <a href="#hand-wash">hand-wash</a>
    </nav>
    <!--Navigation section ends-->

</header>
<!--Header section ends-->



<!--home section starts-->
<section class="Home" id="Home">
    <div class="content">
        <h1>Prevention from corona virus</h1>
        <h2>Stay home,stay safe</h2>
        <a href="#" class="btn">How to prevent</a>
        <br>
        <br>
        <img src="images\home.jpeg" alt="" height="650" width="1200">
    </div>
</section>
<!--Home section ends-->



<!--symptoms section starts-->
<section class="Symptoms" id="Symptoms">
    <h1 class="heading">Symptoms of covid</h1>
    <div class="column">
        <div class="main-image">
            <img src="images\symptoms-1.jpg" alt="" height="500" width="900">
        </div>
        <div class="box-container">
            <ul>

            <li>
            <div class="box">
                <img src="https://image.freepik.com/free-vector/young-man-with-coronavirus-dry-cough-symptom_51635-4347.jpg" alt="" height="100" width="100">
                <h2>dry cough</h2>
            </div>
            </li>

            <li>
            <div class="box">
                <img src="https://st2.depositphotos.com/3440865/8879/v/950/depositphotos_88798832-stock-illustration-man-got-fever-high-temperature.jpg" alt="" height="100" width="100">
                <h2>fever</h2>
            </div>
            </li>

            <li>
            <div class="box">
                <img src="https://domf5oio6qrcr.cloudfront.net/medialibrary/9132/iStock-507532152.jpg" alt="" height="100" width="100">
                <h2>tiredness</h2>
            </div>
            </li>

            <li>
            <div class="box">
                <img src="https://thumbs.dreamstime.com/b/sad-man-pain-throat-symptom-flu-virus-infection-guy-sore-flat-vector-illustration-136635935.jpg" alt="" height="100" width="100">
                <h2>sore throat</h2>
            </div>
            </li>

            <li>
            <div class="box">
                <img src="https://image.shutterstock.com/image-vector/ill-boy-vomiting-because-food-600w-337899518.jpg" alt="" height="100" width="100">
                <h2>vomiting</h2>
            </div>
            </li>
        </div>
    </div>
</section>
<!--symptoms section ends-->



<!--prevention section starts-->
<section class="prevention" id="prevention">
    <h1 class="heading">
        How to prevent virus
    </h1>
    <div class="box-container">
        <div class="box">
            <img src="images\sd-1.webp" alt="" height="300" width="300">
            <h2>Wash your place</h2>
            <p>
                Clean high touch surfaces daily. This includes tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.
                If someone is sick or has tested positive for COVID-19, disinfect frequently touched surfaces. Use a household disinfectant product from EPA’s List N: Disinfectants for Coronavirus (COVID-19)external icon according to manufacturer’s labeled directions.
                If surfaces are dirty, clean them using detergent or soap and water prior to disinfection.
            </p>
        </div>

        <div class="box">
            <img src="images\sd-2.jpg" alt="" height="250" width="300">
            <h2>Maintain distance</h2>
            <p>
                <strong>Inside your home:</strong> Avoid close contact with people who are sick.
                 If possible, maintain 6 feet between the person who is sick and other household members.<br>
                <strong>
                 Outside your home:</strong> Put 6 feet of distance between yourself and people who don’t live in your household.
                Remember that some people without symptoms may be able to spread virus.<br>
                <strong>
                Stay at least 6 feet (about 2 arm lengths) from other people.</strong>
                Keeping distance from others is especially important for people who are at higher risk of getting very sick.
            </p>
        </div>
        
        <div class="box">
            <img src="images\sd-3.jpeg" alt="" height="250" width="300">
            <h2>Don't touch face</h2>
            <p>
                Don’t touch your eyes, nose or mouth.
               Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.
            </p>
        </div>

        <div class="box">
            <img src="images\sd-4.jpg" alt="" height="250" width="300">
            <h2>Wash your hands</h2>
            <p>
                Wash your hands often with soap and water for at least 20 seconds especially after you have been in a public place, or after blowing your nose, coughing, or sneezing. If soap and water are not readily available, <strong> a hand sanitizer that contains at least 60% alcohol</strong>. Cover all surfaces of your hands and rub them together until they feel dry.
                <strong> touching your eyes, nose, and mouth</strong> with unwashed hands.
            </p>
        </div>

        <div class="box">
            <img src="images\sd-5.png" alt="" height="250" width="300">
            <h2>Wear a mask</h2>
            <p>
                If you are not fully vaccinated and aged 2 or older, you should wear a mask in indoor public places.<br>
                In general, you do not need to wear a mask in outdoor settings.<br>
                In areas with high numbers of COVID-19 cases, consider wearing a mask in crowded outdoor settings and for activities with close contact with others who are not fully vaccinated.<br>
            </p>
        </div>

        <div class="box">
            <img src="images\stay home.jpg" alt="" height="300" width="300">
            <h2>stay home during fever, isolate yourself</h2>
            <p>
                <li>Stay home.</li>
               <li> Avoid public spaces and social gatherings.</li>
               <li>Stay at least 6 feet away from others if you must go out.</li>
                <li>Wear a homemade cloth or fabric mask in public.</li>
                <li>Don't attend or host gatherings.</li>
                <li>Avoid mass transit.</li>
                <li>Consider using delivery services for groceries, medications and other household items.</li>
            </p>
        </div>

    </div>
</section>
<!--prevention section ends-->


<!--hand-wash section starts-->
<section class="hand-wash" id="hand-wash">
    <h1 class="heading">How to wash hand properly</h1>
    <div class="column">
        <div class="box-container">
            <div class="box">
                <img src="images\hw-2.jpg" alt="" height="250" width="300">
                <h2>water and soap</h2>
            </div>

            <div class="box">
                <img src="images\hw-3.gif" alt="" height="250" width="300">
                <h2>palm to palm</h2>
            </div>

            <div class="box">
                <img src="images\hw-4.jfif" alt="" height="250" width="300">
                <h2>between fingers</h2>
            </div>

            <div class="box">
                <img src="images\hw-5.jpg" alt="" height="250" width="300">
                <h2>back of hands</h2>
            </div>

            <div class="box">
                <img src="images\hw-6.jpg" alt="" height="250" width="300">
                <h2>focus on wrists</h2>
            </div>
        </div>
        <div class="main-image">
            <img src="images\hw-1.gif" alt="">
        </div>
    </div>
</section>
<!--hand-wash section ends-->


<!--footer section starts-->
<div class="footer">
    <div class="box-container">
        <div class="box">
            <h3>Quick links</h3>
            <a href="#">Home</a>
            <a href="#">Symptoms</a>
            <a href="#">prevention</a>
            <a href="#">hand-wash</a>
        </div>
    </div>
</div>
<!--footer section ends-->


<!--scroll section-->
<a href="#" classs="scroll-top">
    <img src="images\scroll-image.jpg" alt="" height="100" width="100">
</a>
<!--scroll section ends-->

<!--JS file call-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="script.js"></script>
<!--JS file call-->


</body>
</html>
